*.csv filter=lfs diff=lfs merge=lfs -text
crisis_detection_sna/data/social/IRAhandle_tweets_1.csv filter=lfs diff=lfs merge=lfs -text
crisis_detection_sna/data/health/Covid-19[[:space:]]Twitter[[:space:]]Dataset[[:space:]](Apr-Jun[[:space:]]2021).csv filter=lfs diff=lfs merge=lfs -text
crisis_detection_sna/data/technological/Facebook_outage_Tweet_data_4th_October.csv filter=lfs diff=lfs merge=lfs -text
